.cipher-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cipher-app div {
  margin: 10px 0;
}

.cipher-app input {
  margin-left: 10px;
}



.buttonContainer button {
  background-color: #007bff; /* Primary blue color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.button:active {
  background-color: #004494; /* Even darker blue on click */
  transform: scale(0.98); /* Slightly reduce size on click */
}

/* styles.css */

/* Container styling */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
h1 {
  text-align: center;
  color: #333;
}

/* Label and input styling */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
}

/* Button styling */
.buttonContainer {
  display: flex;
}
button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
